[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"

[dev-packages]
black = "*"
pre-commit = "*"
commitizen = "*"

[requires]
python_version = "3.8"

[scripts]
self_install = "pip install -e ."
format_black = "black ."
